@charset "utf-8";

/* Start main */

main .inner-wrapper h3 {
	margin: 48px 0;
}
main .inner-wrapper h3:first-child {
	margin-top: 0;
}

/* Start photo-video */
.photo,
.photo figure img,
.video, .audio,
.audio-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display:        flex;
}

.photo {
	-webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	       -ms-flex-flow: row wrap;
	           flex-flow: row wrap;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
	 justify-content: center;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
}

.photo a {
	display: block;
	position: relative;
	width: 25%;
}
.photo figure:hover figcaption,
.photo a:focus figure figcaption {
	padding: 88px 0;
}
.photo figure img {
	margin: auto;
	width: 200px;
}

.photo figure figcaption,
.video figure figcaption {
	position: absolute;
	text-align: center;
	background-color: rgba(93,25,86,.76);
	color: #fff;
	-webkit-transition: all .6s ease;
	        transition: all .6s ease;
}
.photo figure figcaption {
	width: 200px;
	bottom: 0;
	left: 10%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.video .yt-btn {
	width: 43px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
	background: url(../images/gallery/video/yt.png);
	-webkit-transition: all .6s ease;
	        transition: all .6s ease;
}
.video figure:hover .yt-btn {
	background: url(../images/gallery/video/yt-hover.png);
}
.video .promo figure figcaption {
	width: 440px;
	bottom: 0;
}
.video figure figcaption {
	width: 220px;
	bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 8px;
	visibility: hidden;
	opacity: 0;
}
.video figure:hover figcaption {
	visibility: visible;
	opacity: 1;
}

.video .play {
	position: relative;
	cursor: pointer;
	height: 124px;
}

.video > section {
	width: 440px;
	position: relative;
	margin: 0 30px;
}

.video .promo figure,
.video .promo iframe {
	width: 440px;
	height: 248px;
}
.video section figure,
.video section iframe {
	width: 220px;
	height: 124px;
}

.video .promo .video-wrapper,
.video section .video-wrapper {
	display: none;
}

.video figure:hover .marquee {
	animation: marquee 6s linear .6s infinite;
	animation-fill-mode: backwards;
	animation-iteration-count: 1
}
.video section:hover + .prev-btn + .next-btn,
.video section:hover + .prev-btn {
	opacity: 0.65;
}

@-webkit-keyframes marquee {
	from { text-indent: 0; }
	to { text-indent: -150%; }
}
@keyframes marquee {
	from { text-indent: 0; }
	to { text-indent: -150%; }
}

.prev-btn,
.next-btn {
	position: absolute;
	top: 112px;
	z-index: 1;
	width: 24px;
	height: 24px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: rgba(93,25,86,.76);
	-webkit-transition: all .6s ease;
	        transition: all .6s ease;
}
.prev-btn {
	left: 5px;
}
.next-btn {
	right: 5px;
}
.prev-btn:hover,
.next-btn:hover {
	background-color: rgba(93,25,86,1);
}

/* End photo-video */

/* Start audio */

.audio-block {
	-webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	       -ms-flex-flow: row wrap;
	           flex-flow: row wrap;
}
.audio-player {
	width: 50%;
	height: 114px;
}
.audio-wrap{
	text-align: center;
}

/* End audio */

/* End main */