@charset "utf-8";

/* Start main */

main .inner-wrapper:nth-child(2) {
	display: -webkit-box;
	display: -ms-flexbox;
	display:        flex;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
	 justify-content: center;
	-webkit-box-align: start;
	   -ms-flex-align: start;
	 align-items: flex-start;
}
main .inner-wrapper .form-block {
	width: 25%;
}
main .inner-wrapper article {
	width: 50%;
}
main .inner-wrapper .right-block {
	width: 25%;
}

.form-block img {
	width: 250px;
	margin-bottom: 96px;
}

/* Start article */

article {
	padding: 0 24px;
	height: auto;
}
article section:first-child {
	margin-top: -4px;
}
article h3 {
	font: 40px/40px 'OlgaCTT', arial;
	color: #5d1956;
	text-align: center;
	margin: 24px 0;
}
article h4,
article h5,
article span {
	font-weight: bold;
}

article ul {
	list-style: url('../images/list.png') inside;
}

/* End article */

/* Start right-block */

.right-block {
	text-align: center;
}

.right-block section {
	margin-bottom: 32px;
}
.right-block section:first-child {
	margin-bottom: 16px;
}

.right-block section h4 {
	line-height: 16px;
	text-transform: uppercase;
	color: #5d1956;
	margin-bottom: 32px;
}
.right-block section h4:first-child {
	margin-bottom: 16px;
}

.news {
	display: block;
	width: 150px;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
	padding: 16px 0;
}
.news:hover,
.news:focus {
	background: #fff;
	box-shadow: 0 0 10px 5px #fff;
}
.news img {
	height: 100px;
	border-radius: 5px;
}
.news h5 {
	max-height: 48px;
	color: #5d1956;
	-webkit-transition: all .6s ease;
          transition: all .6s ease;
}
.right-block section ul li {
	margin-bottom: 24px;
}

.right-block section ul li a:hover,
.right-block section ul li a:focus,
.right-block section a:hover h5,
.right-block section a:focus h5 {
	color:#b85482;
}

/* End right-block */

/* End main */